.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

@media only screen and (max-width:992px) {
    .container {
        overflow-x: hidden;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }
}