.header {
    width: 100%;
    &__inner {
        @include flex(row, space-between, center);
    }
    &__nav {
        @include flex(row, space-between, center);
        padding: 25px 0 75px;
        &__list {
            position: relative;
            right: calc(18%);
            @include flex(row, space-between, center);
            width: 30%;
            @extend %list-unstyled;
        }
        &__item {
            text-shadow: none;
        }
        &__link {
            @extend %link-unstyled;
            @include font(normal, 400, 18px, 27px);
            transition: all 0.3s ease;
            &:hover {
                color: #2D76F9;
                font-weight: 700;
            }
        }
        &__btn {
            @extend %link-unstyled;
            @include font(normal, 400, 18px, 27px);
            color: #2D76F9;
            padding: 12px 40px;
            border: 1.5px solid #2D76F9;
            border-radius: 50px;
            transition: all 0.3s ease;
            &:hover {
                color: #0b1d3f96;
            }
        }
    }
    &__menu {
        @include flex(column, space-between, center);
        display: none;
        width: 50px;
        height: 50px;
        padding: 16px 12px;
        border: 1.5px solid #2D76F9;
        border-radius: 5px;
        &-line {
            width: 26px;
            height: 2px;
            background-color: #2D76F9;
        }
    }
}

// --------------------------------------------------- 414px
@media only screen and (max-width:992px) {
    .header {
        width: 100%;
        &__nav {
            padding: 32px 0 82px;
            &__list {
                display: none;
            }
            &__btn {
                display: none;
            }
        }
        &__menu {
            @include flex(column, space-between, center);
            // display: none;
        }
    }
}